In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score
# Read training data
car_df = pd.read_csv("CarPrice_Assignment.csv")

In [2]:
car_df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
#car_df.isnull().sum()
car_df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [4]:
car_df['CarName']=car_df['CarName'].apply(lambda x: x.split(" ")[0])

In [ ]:
#Category variables
#'CarName','fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation','enginetype','cylindernumber','fuelsystem'

### Data preparation

In [5]:
# Applying the function to the cars df
car_df[['fueltype']] = car_df[['fueltype']].apply(lambda x:x.map({'gas': 1, 'diesel': 0}))
car_df[['doornumber']] = car_df[['doornumber']].apply(lambda x:x.map({'four': 1, 'two': 0}))
car_df[['enginelocation']] = car_df[['enginelocation']].apply(lambda x:x.map({'front': 1, 'rear': 0}))

In [6]:
car_df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,1,std,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,1,std,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,1,std,0,hatchback,rwd,1,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,1,std,1,sedan,fwd,1,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,1,std,1,sedan,4wd,1,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
def createdummies(df,column):
    status = pd.get_dummies(df[column])
    df = pd.concat([df, status], axis = 1)
    df.drop([column], axis = 1, inplace = True)
    return df

In [8]:
car_df=createdummies(car_df,'CarName')
car_df=createdummies(car_df,'aspiration')
car_df=createdummies(car_df,'carbody')
car_df=createdummies(car_df,'drivewheel')
car_df=createdummies(car_df,'fuelsystem')
car_df=createdummies(car_df,'cylindernumber')
car_df=createdummies(car_df,'enginetype')

In [9]:
from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
df_train, df_test = train_test_split(car_df, train_size = 0.7, test_size = 0.3, random_state = 100)

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [11]:
# Apply scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['car_ID', 'symboling', 'wheelbase', 'carlength', 
            'carwidth','carheight','curbweight','enginesize','boreratio','stroke',
           'compressionratio','horsepower','peakrpm','citympg','highwaympg','price']

df_train[num_vars] = scaler.fit_transform(df_train[num_vars])

C:\Users\reddi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\reddi\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\reddi\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
df_train.describe()

,car_ID,symboling,fueltype,doornumber,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,three,twelve,two,dohc,dohcv,l,ohc,ohcf,ohcv,rotor
count,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,...,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000
mean,0.478061,0.559441,0.909091,0.559441,0.993007,0.411141,0.525476,0.461655,0.509004,0.407878,...,0.006993,0.006993,0.027972,0.069930,0.006993,0.062937,0.685315,0.083916,0.062937,0.027972
std,0.289106,0.239200,0.288490,0.498199,0.083624,0.205581,0.204848,0.184517,0.215378,0.211269,...,0.083624,0.083624,0.165472,0.255926,0.083624,0.243703,0.466023,0.278236,0.243703,0.165472
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.232843,0.400000,1.000000,0.000000,1.000000,0.272414,0.399187,0.304167,0.353982,0.245539,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.470588,0.600000,1.000000,1.000000,1.000000,0.341379,0.502439,0.425000,0.522124,0.355702,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.718137,0.600000,1.000000,1.000000,1.000000,0.503448,0.669919,0.550000,0.668142,0.559542,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
# Let's check the correlation coefficients to see which variables are highly correlated

# plt.figure(figsize = (50, 50))
# sns.heatmap(df_train.corr(), annot = True, cmap="YlGnBu")
# plt.show()

In [14]:
y_train = df_train.pop('price')
X_train = df_train

In [15]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [16]:
# Running RFE with the output number of the variable equal to 10
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
rfe =  RFE(lm,20)
rfe=rfe.fit(X_train,y_train)
cols = list(X_train.columns)
temp =  pd.Series(rfe.support_, index=cols)
temp.where(lambda x:x==True).dropna()

fueltype            1.0
enginelocation      1.0
carlength           1.0
carwidth            1.0
curbweight          1.0
enginesize          1.0
boreratio           1.0
stroke              1.0
compressionratio    1.0
peakrpm             1.0
bmw                 1.0
isuzu               1.0
peugeot             1.0
porsche             1.0
five                1.0
four                1.0
three               1.0
twelve              1.0
two                 1.0
rotor               1.0
dtype: float64

In [34]:
#Top Drivers
#CarName,fueltype,enginelocation,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,stroke,compressionratio,peakrpm

varlist=['fueltype','enginelocation','carlength','carwidth','curbweight','enginesize',
         'boreratio','stroke','compressionratio','peakrpm','bmw','isuzu','peugeot',
         'porsche','five','four','three','twelve','two','rotor']

In [35]:
X_train_new=X_train[varlist]

In [36]:
# Adding a constant variable 
import statsmodels.api as sm  
X_train_new = sm.add_constant(X_train_new)

lm = sm.OLS(y_train,X_train_new).fit()

In [37]:
#Let's see the summary of our linear model
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.948
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     119.0
Date:                Fri, 12 Jul 2019   Prob (F-statistic):           1.09e-69
Time:                        07:42:46   Log-Likelihood:                 228.88
No. Observations:                 143   AIC:                            -417.8
Df Residuals:                     123   BIC:                            -358.5
Df Model:                          19
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.1915      0.174      1.098      0.274      -0.154       0.537
fueltype            -0.1445      0.137     -1.057      0.293      -0.415       0.126
enginelocation      -0.3436      0.075     -4.596      0.000      -0.492      -0.196
carlength           -0.0522      0.066     -0.790      0.431      -0.183       0.079
carwidth             0.3764      0.069      5.491      0.000       0.241       0.512
curbweight           0.3728      0.089      4.169      0.000       0.196       0.550
enginesize           1.2722      0.161      7.886      0.000       0.953       1.591
boreratio           -0.3288      0.054     -6.091      0.000      -0.436      -0.222
stroke              -0.2980      0.047     -6.281      0.000      -0.392      -0.204
compressionratio    -0.0882      0.156     -0.565      0.573      -0.397       0.221
peakrpm              0.1013      0.031      3.239      0.002       0.039       0.163
bmw                  0.2910      0.026     11.236      0.000       0.240       0.342
isuzu                0.0693      0.032      2.184      0.031       0.007       0.132
peugeot             -0.1230      0.027     -4.637      0.000      -0.175      -0.070
porsche              0.1309      0.051      2.566      0.011       0.030       0.232
five                 0.1371      0.033      4.149      0.000       0.072       0.202
four                 0.2211      0.037      5.897      0.000       0.147       0.295
three                0.4585      0.072      6.408      0.000       0.317       0.600
twelve              -0.4586      0.099     -4.644      0.000      -0.654      -0.263
two                  0.2236      0.032      6.887      0.000       0.159       0.288
rotor                0.2236      0.032      6.887      0.000       0.159       0.288
==============================================================================
Omnibus:                       16.971   Durbin-Watson:                   1.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.446
Skew:                           0.593   Prob(JB):                     1.10e-06
Kurtosis:                       4.789   Cond. No.                     7.20e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.34e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [38]:
X_train_new.columns

Index(['const', 'fueltype', 'enginelocation', 'carlength', 'carwidth',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'peakrpm', 'bmw', 'isuzu', 'peugeot', 'porsche', 'five', 'four',
       'three', 'twelve', 'two', 'rotor'],
      dtype='object')

In [39]:
X_train_new = X_train_new.drop(['const'], axis=1)

In [40]:
# Calculate the VIFs for the new model
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
X = X_train_new
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

C:\Users\reddi\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:181: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

            Features     VIF
19             rotor     inf
18               two     inf
1     enginelocation  268.84
0           fueltype  186.58
5         enginesize  107.62
4         curbweight   81.26
2          carlength   69.27
3           carwidth   58.97
15              four   49.33
6          boreratio   43.67
7             stroke   35.20
8   compressionratio   24.03
9            peakrpm   10.01
17            twelve    3.04
14              five    2.96
13           porsche    2.81
12           peugeot    1.87
16             three    1.82
10               bmw    1.42
11             isuzu    1.08