In [1]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
from datetime import date
import pandas as pd
import numpy as np
today = date.today()
ts = TimeSeries(key='909PI3XL8ISS08JQ',output_format='pandas')
ti = TechIndicators(key='909PI3XL8ISS08JQ', output_format='pandas')

In [2]:
import datetime
import pytz

def convert_datetime_timezone(dt, tz1, tz2):
    tz1 = pytz.timezone(tz1)
    tz2 = pytz.timezone(tz2)

    dt = datetime.datetime.strptime(dt,"%Y-%m-%d %H:%M")
    dt = tz1.localize(dt)
    dt = dt.astimezone(tz2)
    dt = dt.strftime("%Y-%m-%d %H:%M")

    return dt

In [3]:
d3 = today.strftime("%Y-%m-%d")
d3

'2019-09-06'

In [4]:
data2, meta_data2 = ti.get_sma('NSE:WIPRO', interval='5min',time_period=5)
data2.reset_index(level=0, inplace=True)
## Conversion
data2['date']=data2['date'].apply(lambda x:convert_datetime_timezone(x, "US/Eastern", "Asia/Calcutta"))
data3, meta_data3 = ti.get_sma('NSE:WIPRO', interval='5min',time_period=8)
data3.reset_index(level=0, inplace=True)
## Conversion
data3['date']=data3['date'].apply(lambda x:convert_datetime_timezone(x, "US/Eastern", "Asia/Calcutta"))
data4, meta_data4 = ti.get_sma('NSE:WIPRO', interval='5min',time_period=13)
data4.reset_index(level=0, inplace=True)
## Conversion
data4['date']=data4['date'].apply(lambda x:convert_datetime_timezone(x, "US/Eastern", "Asia/Calcutta"))

In [5]:
data2=data2[data2.date.str.find(d3)!=-1]

In [6]:
data3=data3[data3.date.str.find(d3)!=-1]

In [7]:
data4=data4[data4.date.str.find(d3)!=-1]

In [8]:
data, meta_data = ts.get_intraday('NSE:WIPRO',interval='5min',outputsize='full')

data.reset_index(level=0, inplace=True)

## Conversion
data['date']=data['date'].apply(lambda x:x[0:-3])
data['date']=data['date'].apply(lambda x:convert_datetime_timezone(x, "US/Eastern", "Asia/Calcutta"))

In [9]:
data=data[data.date.str.find(d3)!=-1]

In [10]:
data_final=pd.merge(data2, data3, left_on='date', right_on='date')

In [11]:
data_final=pd.merge(data_final, data4, left_on='date', right_on='date')

In [12]:
data_final=pd.merge(data_final, data, left_on='date', right_on='date')

In [13]:
data_final

Empty DataFrame
Columns: [SMA_x, SMA_y, SMA, date, 1. open, 2. high, 3. low, 4. close, 5. volume]
Index: []